{
    "jsc": {
      "parser": {
        "syntax": "ecmascript"
      },
      "baseUrl": "./src",
      "paths": {
        "@/*": ["./*"]
      },
      "target": "es5",
      "loose": false,
      "externalHelpers": false,
      "keepClassNames": false
    },
    "module": {
      "type": "commonjs"
    }
  }